<footer class="page-footer font-small bg-secondary pt-4">
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="row d-flex justify-content-center w-100">
            <h4 class="text-white">ProjetoE-nsino.com</h4>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class= "col-md-2 d-flex justify-content-around">

            <a class="active text-dark d-flex text-center" aria-current="page" routerLink="/home"><span>Home</span></a>
            <a class="d-flex text-dark text-center" aria-current="page" routerLink="/sobre"><span>Sobre nós</span></a>
    </div>
</div>
</div>
    <div class="footer-copyright bg-dark text-center py-2">
        <span class="text-light">©️2022 Copyright: </span>
        <a class="text-light" target="_blank" href="https://brasil.generation.org">brasil.generation.org</a>
    </div>
</footer>

