
<footer class="page-footer font-small footer-vermelho pt-4">
<div class="container-fluid">

<div class="row col-md-12 d-flex flex-column align-items-center">
    <!-- <div class="col-md-12 d-flex flex-column align-items-center"> -->
            <div class="row">
                <h5 class="text-white">Confira o GitHub do projeto e-nsino: </h5>
            </div>
            <div class="row">
                <a class="text-decoration-none" href="https://github.com/Projeto-E-nsino" target="_blank">
                    <i class="fa fa-github-square fs2" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    <!-- </div> -->
<!-- CONTAINER FLUID FECHA AQUI -->
<div class="row">
    <div class="col-md-12">
        <div class="footer-copyright footer-vermelho text-center py-2">
            <span class="text-light mb-5">©️2022 Copyright: </span>
            <a class="text-light" target="_blank" href="https://brasil.generation.org">brasil.generation.org</a>
        </div>
    </div>
</div>
</div>
</footer>

