.fa{
  font-size: 30pt;
  margin: 10px;
  color: rgb(82, 78, 78);
}
.fa-linkedin-square:hover{
  color: #0072b1;
}
.fa-linkedin-square:hover{
  color: #0072b1;
}
.fa-github-square:hover{
color: black;
}
