<div class="container-fluid fundoContainer ubuntu">
  <div class="row d-flex justify-content-center"> 
    <div
      class="col-md-12"
    >
      <div class="row d-flex justify-content-center">
        <h2 class="text-center mt-5 text-white bold">Sobre Nós</h2>
      </div>

      <!-- -----------------------CEZAR PALOMINO-------------------------- -->
      <!-- !BRANCO -->
      <div class="row d-flex justify-content-center fundoBranco mt-5 align-items-center">
        <!-- !TEXTO -->
        <div class="col-md-7 mt-5 mr-2 mb-3">
          <div class="row">
            <div class="row">
              <h4 class="bold ml-3">
                Cezar Palomino
                <p class="fs">
                  Frontend engineer, backend developer e UX/UI designer
                </p>
              </h4>
            </div>

            <div class="row mr-3 ml-1">
              <p>
                Natural de São Paulo, desde criança, sempre curioso e com vontade de aprender, tenho o sonho de trabalhar com tecnologia, apaixonado por ciência, e me encontrei na programação.
              </p>

              <p>
                A tecnologia é uma ferramenta capaz de impactar o mundo, mudando a vida das pessoas e ditando o rumo da história, e quero ao máximo usá-la para fazer com que tais mudanças sejam positivas e levem esperança de um futuro melhor. Pretendo ingressar em uma faculdade de Física e, posteriormente, de Análise e Desenvolvimento de Sistemas e Ciência de Dados.
              </p>
            </div>
          </div>
        </div>

        <!-- !IMAGEM E LINDKS-->
        <div class="col-md-2 mt-5 d-flex flex-column align-items-center">
          <div class="row">
            <img
              width="100px"
              height="100px"
              class="rounded-circle shadow p-1 mb-4 bg-white"
              src="https://github.com/CezarPalomino.png"
              alt="foto de Cezar Palomino"
            />
          </div>

          <div class="row">
            <div class="d-flex justify-content-center">
              <a
                href="https://www.linkedin.com/in/cezar-palomino"
                target="_blank"
              >
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/CezarPalomino" target="_blank">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- -----------------JAQUELINE-------------------- -->

      <!-- !BRANCO -->
      <div class="row d-flex justify-content-center fundoSobre align-items-center">
        <!-- !IMAGEM E LINDKS-->
        <div class="col-md-2 mt-5 d-flex flex-column align-items-center">
          <div class="row">
            <img
              width="100px"
              height="100px"
              class="rounded-circle shadow p-1 mb-4 bg-white"
              src="https://github.com/jaquelinefeitosa.png"
              alt="foto de Jaqueline Feitosa"
            />
          </div>

          <div class="row">
            <div class="d-flex justify-content-center">
              <a
                href="https://www.linkedin.com/in/jaqueline-feitosa-de-sousa-03291614b/"
                target="_blank"
              >
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/jaquelinefeitosa" target="_blank">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- !TEXTO -->
        <div class="col-md-7 mt-5 mr-2 mb-3">
          <div class="row">
            <div class="row">
              <h4 class="bold ml-3">
                Jaqueline Feitosa
                <p class="fs">
                  Fullstack developer
                </p>
              </h4>
            </div>

            <div class="row mr-3 ml-1">
              <p>
                Olá meu nome é Jaqueline, atualmente moro em São Paulo, capital. 
                Tive meu primeiro contato com a tecnologia cedo onde obtive conhecimentos, porem com as necessidades vinham e o tempo passava acabei ingressando em outras área, mas o desejo de trabalhar com a tecnologia fez eu tentar novamente na área e então migrei de carreira.
              </p>

              <p>
                E assim estou desenvolvendo as minhas habilidades, estou em busca de crescer e me especializar nessa área, através de uma graduação em Analise e Desenvolvimento de Sistema.
                Sendo assim sei que terei muitos desafios pela frente mas acredito que eu posso chegar no meu objetivo desenvolver e atingir todas as minhas metas profissionais e pessoais
                Sou desde sempre apaixonada por tecnologia, e pretendo melhorar a vida das pessoas através da área. Vamos nos conectar?
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- -----------------------MARCO ROCHELES-------------------------- -->
      <!-- !BRANCO -->
      <div class="row d-flex justify-content-center fundoBranco align-items-center ">
        <!-- !TEXTO -->
        <div class="col-md-7 mt-5 mr-2 mb-3">
          <div class="row">
            <div class="row">
              <h4 class="bold ml-3">
                Marco Rocheles
                <p class="fs">
                  Frontend engineer, backend developer e UX/UI designer
                </p>
              </h4>
            </div>

            <div class="row mr-3 ml-1">
              <p>
                Nascido em recife e criado desde bebê em são paulo. Em 2014 me
                ingressei na ETEC e vi na tecnologia oportunidades para
                desenvolver habilidades lógicas e conhecer um mundo que tenho
                paixão oriunda de experiências com jogos e peças de computador.
              </p>

              <p>
                Segui caminho pela arquitetura onde tive oportunidade de
                desenvolver minhas habilidades como criatividade etc e em 2021
                retornei à tecnologia, agora para ficar e buscando alinhar os
                dois mundos.
              </p>
            </div>
          </div>
        </div>

        <!-- !IMAGEM E LINDKS-->
        <div class="col-md-2 mt-5 d-flex flex-column align-items-center">
          <div class="row">
            <img
              width="100px"
              height="100px"
              class="rounded-circle shadow p-1 mb-4 bg-white"
              src="../../assets/Marco Rocheles.jpeg"
              alt="foto de Marco Rocheles"
            />
          </div>

          <div class="row">
            <div class="d-flex justify-content-center">
              <a
                href="https://www.linkedin.com/in/marcorocheles/"
                target="_blank"
              >
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/marcorocheles" target="_blank">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- -----------------RODRIGO CESAR-------------------- -->

      <!-- !BRANCO -->
      <div class="row d-flex justify-content-center fundoSobre align-items-center">
        <!-- !IMAGEM E LINDKS-->
        <div class="col-md-2 mt-5 d-flex flex-column align-items-center">
          <div class="row">
            <img
              width="100px"
              height="100px"
              class="rounded-circle shadow p-1 mb-4 bg-white"
              src="https://github.com/RodrigoCesar94.png"
              alt="foto de Rodrigo"
            />
          </div>

          <div class="row">
            <div class="d-flex justify-content-center">
              <a
                href="https://www.linkedin.com/in/rodrigo-cesar-ferreira/"
                target="_blank"
              >
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/RodrigoCesar94" target="_blank">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- !TEXTO -->
        <div class="col-md-7 mt-5 mr-2 mb-3">
          <div class="row">
            <div class="row">
              <h4 class="bold ml-3">
                Rodrigo Cesar
                <p class="fs">
                  Backend engineer e frontend developer
                </p>
              </h4>
            </div>

            <div class="row mr-3 ml-1">
              <p>
                Nascido e criado em São Paulo, desde a  infância tive gosto por descobrir como as coisas funcionam e de que forma podemos melhorar os elementos tecnológicos das nossas vidas. Com esse interesse, ingressei no curso Técnico em Eletrônica na ETEC e posteriormente no Curso de Engenharia Elétrica onde pude eliminar meus medos em relação a área de exatas e conquistei desafios que não imaginava ser capaz de superar. 
              </p>

              <p>
                Com 5 anos e 8 meses de experiência na área de TI, descobri outra perspectiva e senti  a necessidade de me inserir nela, uma vez que aponta para o futuro de todos nós: a programação. Esse novo desafio me enche de esperança de dar a sociedade soluções que promovam igualdade, empatia e prosperidade.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- -----------------------YASMIM-------------------------- -->
      <!-- !BRANCO -->
      <div class="row d-flex justify-content-center fundoBranco align-items-center">
        <!-- !TEXTO -->
        <div class="col-md-7 mt-5 mr-2 mb-3">
          <div class="row">
            <div class="row">
              <h4 class="bold ml-3">
                Yasmim Marques
                <p class="fs">
                  Backend engineer e frontend developer
                </p>
              </h4>
            </div>

            <div class="row mr-3 ml-1">
              <p>
                Do Piauí para o mundo, vim para São Paulo ainda bem pequena. Meu primeiro contato com a área da tecnologia foi pela generation, nunca me imaginei fazendo parte de algo relacionado, então isso é totalmente novo para mim, mas agora que tive a chance de conhece-la mais de perto é como se tivesse aberto diversas portas e eu pudesse fazer algo realmente importante. 
              </p>

              <p>
                Poder aprender e ao mesmo tempo desempenhar meu papel de mãe é um desafio, mas estou conseguindo gerenciar esse tempo muito bem. São duas coisas que amo fazer e me entrego ao máximo para dar o meu melhor. Sendo assim, pretendo me especializar cada vez mais na área da tecnologia e fazer a diferença como mãe e desenvolvedora.
              </p>
            </div>
          </div>
        </div>

        <!-- !IMAGEM E LINDKS-->
        <div class="col-md-2 mt-5 d-flex flex-column align-items-center">
          <div class="row">
            <img
              width="100px"
              height="100px"
              class="rounded-circle shadow p-1 mb-4 bg-white"
              src="https://github.com/ymilharal.png"
              alt="foto de Yasmim"
            />
          </div>

          <div class="row">
            <div class="d-flex justify-content-center">
              <a
                href="https://www.linkedin.com/in/yasmim-marques-santos/"
                target="_blank"
              >
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
              <a href="https://github.com/ymilharal" target="_blank">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>