#fundo {
    /*background-image: url("");
    height: 100vh;
    background-position:center;
    display: flex;
    background-size: cover;*/
}
#card {
    /*background-color: rgb(158, 24, 0);*/
    box-shadow: 0 0px 25px 10px rgba(0, 0, 0, 0.397);
    background: linear-gradient(to top, #870000, #190a05);
}

#titulo {
    font-weight: 650;
    color: white;
}

#fonteFora {
    font-weight: 500;
    color: white;
}

#fonteDentro {
    font-weight: 200;
    background-color: transparent;
    color: white;
    /*box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.397);*/
}

.btn {
    font-weight: 500;
    width: 50%;
    transition: .4s;
    color: white;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.397);
}

.btn:hover {
    width: 60%;
}

#cadastre {
    color: rgba(29, 0, 156, 0.774);
    font-weight: 600;
}

#cadastre:hover {
    font-weight: 700;
    text-decoration: none;
}
