<nav class="navbar navbar-expand-lg text-white sticky-top navbar-vermelho align-item-center">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand text-decoration-none text-white playFair fs-2rem bold ml-3 mr-3" routerLink="/home">∑</a>
    <p class="mt-4 text-black Montesserat">Olá, {{nome}}</p>

    <div class="collapse navbar-collapse text-white Montesserat" id="conteudoNavbarSuportado">
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item active mr-3">
        <a class="text-dark text-center d-flex flex-column" routerLink="/home"><i class="fa fa-home"
          aria-hidden="true"></i>Home<span class="sr-only">(Página atual)</span></a>
      </li>
      <li class="nav-item active mr-1">
        <a class="text-dark text-center d-flex flex-column" routerLink="/sobre"><i class="fa fa-building-o"
          aria-hidden="true"></i> <span>Sobre nós</span></a>
      </li>
      <li class="nav-item dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{foto}}" class="img-fluid rounded-circle" height="50px" alt="" width="50px">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/perfil">Meu perfil</a>
          <a class="dropdown-item" [routerLink]="['/user-edit', id]">Configurações</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="sair()">Sair </a>
        </div>
      </li>
    </ul>
    </div>
    </nav>
