<div class="container-fluid">

  <div class="row">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ff5500" fill-opacity="0.6" d="M0,128L48,133.3C96,139,192,149,288,138.7C384,128,480,96,576,112C672,128,768,192,864,186.7C960,181,1056,107,1152,69.3C1248,32,1344,32,1392,32L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
  </div>


  <div class="container">

    <div class="row d-flex align-items-center">
      <div class="col-md-6">
  
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 text-black p-0">
            <h1 class="fs-54">Seja bem vindo(a) a rede social e-sino!</h1>
            <h5 class="fs-18"></h5>
          </div>
        </div>
  
        <div class="row d-flex justify-content-center mt-3 mb-5">
          <div class="col-md-7">
            <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova postagem</button>
            <a class="btn btn-outline-dark" href="#postagens">Ver postagens</a>
          </div>
        </div>
  
      </div>
  
      <div class="col-md-6 d-flex justify-content-center">
        <img src="https://i.imgur.com/AIsXMAs.png" alt="Imagem de Inicio" width="500px" height="500px">
      </div>
    </div>
  </div>

  <div class="row p-5 d-flex justify-content-center" id="postagens">
    <div class="col-md-8">
      <hr>
    </div>
  </div>


  <!-- !landingPage -->
  <div class="row d-flex justify-content-center">
    <div class="col-md-9 p-0">

      <!-- <div class="jumbotron jumbotron-fluid text-left">
        <div class="container">
          <button type="button" class="btn btn-outline-secondary mr-3 mt-3 mb-3" href="#postagens"> Ver Postagens </button>
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target='#novaPostagem'> Nova Postagem</button>
          <h2 class="">boas vindas a rede social e-nsino.</h2>
          <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas excepturi nemo, totam molestias, praesentium incidunt quaerat, explicabo id cum perferendis animi? Commodi beatae optio ipsa, cumque illo corrupti. Debitis, necessitatibus?</p>
        </div>
      </div> -->

      

      <!-- !----------------------cards------------------------>
      <div class="row mb-5">
        <div class="card-columns">
          <div class="card p-3 ">
            <h5 class="card-title m-0 text-center">Titulo</h5>
            <blockquote class="blockquote mb-0 card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer text-center">
                <small class="text-muted">
                  Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
                </small>
              </footer>
            </blockquote>
        </div>
      </div>
      
      <!-- !/cards -->

      
    </div>
  </div>

  <!-- !/landingPage -->

  <div class="row p-0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ff5500" fill-opacity="0.6" d="M0,64L48,101.3C96,139,192,213,288,218.7C384,224,480,160,576,149.3C672,139,768,181,864,186.7C960,192,1056,160,1152,128C1248,96,1344,64,1392,48L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado" data-toggle="modal" data-target='#novaPostagem'> Nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input  type="text" class="form-control" id="titulo" placeholder="digite o titulo da sua postagem">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Escolha um tema ou  <a routerLink="/tema" data-dismiss="modal">: cadastre um novo</a></label>

          <select name="tema" id="tema" class="form-control" >
            <option ></option>
          </select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>


