<h1 class="text-center">Sobre nós</h1>
<div class="container">
  <div class='row d-flex container justify-content-center'>
    <div class="col-md-2 p-30">
      <div>
        <p class='mr-2 font-weight-bold'>Cezar Palomino </p>
       <img width=100px height="100px" class= "rounded-circle shadow p-1 mb-4 bg-white"src="https://github.com/CezarPalomino.png" alt="foto de Cezar Palomino">
        </div>
        <div>
          <a href="https://www.linkedin.com/in/cezar-palomino" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
          <a href="https://github.com/CezarPalomino" target="_blank">
          <i class="fa fa-github-square" aria-hidden="true"></i>
         </a>
        </div>
      </div>


      <div class="col-md-2 p-30">
        <div>
          <p class='mr-2 font-weight-bold'>Jaqueline Feitosa </p>
         <img width=100px height="100px" class= "rounded-circle shadow p-1 mb-4 bg-white" src="https://github.com/jaquelinefeitosa.png" alt="foto de Jaqueline Feitosa">
          </div>
          <div>
            <a href="https://www.linkedin.com/in/jaqueline-feitosa-de-sousa-03291614b/" target="_blank">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
            <a href="https://github.com/jaquelinefeitosa" target="_blank">
            <i class="fa fa-github-square" aria-hidden="true"></i>
           </a>
          </div>
        </div>

        <div class="col-md-2 p-30">
          <div>
            <p class='mr-2 font-weight-bold' > Marco Rocheles</p>
           <img width=100px height="100px" class= "rounded-circle shadow p-1 mb-4 bg-white" src="../../assets/Marco Rocheles.jpeg" alt="foto de Marco Rocheles">
            </div>
            <!-- link redes sociais -->
            <div class='justify-content-around'>
              <a href="https://www.linkedin.com/in/marcorocheles/" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
              <a href="https://github.com/marcorocheles" target="_blank">
              <i class="fa fa-github-square" aria-hidden="true"></i>
            </a>
            </div>
          </div>

          <div class="col-md-2 p-30">
            <div>
              <p class='mr-2 font-weight-bold'> Rodrigo Cesar</p>
             <img width=100px height="100px" class= "rounded-circle shadow p-1 mb-4 bg-white" src="https://github.com/RodrigoCesar94.png" alt="foto de Rodrigo">
              </div>
              <!-- redes sociais -->
              <div class='justify-content-around'>
                <a href="https://www.linkedin.com/in/rodrigo-cesar-ferreira/" target="_blank">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
                <a href="https://github.com/RodrigoCesar94" target="_blank">
                <i class="fa fa-github-square" aria-hidden="true"></i>
              </a>
              </div>
            </div>




            <div class="col-md-2 p-30">
              <div>
                <p class='mr-2 font-weight-bold' >Yasmim Marques</p>
               <img width=100px height="100px" class= "rounded-circle shadow p-1 mb-4 bg-white" src="https://github.com/ymilharal.png" alt="foto de Yasmim">
                </div>
                <!-- redes sociais -->
                <div class='justify-content-around'>
                  <a href="https://www.linkedin.com/in/yasmim-marques-santos/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                  <a href="https://github.com/RodrigoCesar94" target="_blank">
                  <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                </div>
              </div>
            </div>




    </div>
<div class='container'>
<h6 class='text-center'>Somos uma equipe de desenvolvedores Full-stack Java e Angular e nos esforçamos muito para trazer este site para vocês ! Construímos tudo desde o back-end: banco de dados e API até este Front-end(essa página que você está agora 😋) Acima você tem acesso a nossa redes sociais
</h6>
</div>
