<div class="container-fluid">

  <div class="row">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ff5500" fill-opacity="0.6" d="M0,64L48,101.3C96,139,192,213,288,218.7C384,224,480,160,576,149.3C672,139,768,181,864,186.7C960,192,1056,160,1152,128C1248,96,1344,64,1392,48L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg> -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ff5500" fill-opacity="0.6" d="M0,128L48,133.3C96,139,192,149,288,138.7C384,128,480,96,576,112C672,128,768,192,864,186.7C960,181,1056,107,1152,69.3C1248,32,1344,32,1392,32L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
  </div>

  <!-- !landingPage -->
  <div class="row d-flex justify-content-center">
    <div class="col-md-9 p-0">

      <div class="jumbotron jumbotron-fluid text-left">
        <div class="container">
          <h2 class="">boas vindas a rede social e-nsino.</h2>
          <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas excepturi nemo, totam molestias, praesentium incidunt quaerat, explicabo id cum perferendis animi? Commodi beatae optio ipsa, cumque illo corrupti. Debitis, necessitatibus?</p>
        </div>
      </div>

      <!-- !carousel -->
      <div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://i.imgur.com/DRIH7UD.jpg" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/DRIH7UD.jpg" alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/DRIH7UD.jpg" alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
      <!-- !/carousel -->

      <!-- !grid -->
        <!-- !primeiro texto -->
      <div class="row p-2 d-flex justify-content-center">
        <div class="col-md-8">
          <hr>
        </div>
      </div>

      <div class="row mt-5 mb-5 p-2 align-items-center">
        <div class="col-md-6">
          <h3>. aquilo e isso</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam aperiam temporibus nostrum expedita enim itaque voluptatum porro facilis quia! Consectetur earum odit consequatur reprehenderit ab distinctio sint voluptates eveniet sapiente!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, possimus voluptates commodi, nostrum libero quis aspernatur, omnis deserunt fugit voluptatibus tempora dignissimos aliquam quidem animi explicabo voluptatem. Repellendus, veniam adipisci.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <img src="https://i.imgur.com/5QWmcTx.jpg" alt="foto generica">
        </div>
      </div>
        <!-- !/primeiro texto -->

      <div class="row p-5 d-flex justify-content-center">
        <div class="col-md-8">
          <hr>
        </div>
      </div>

      <div class="row ">
        <div class="row mb-5 p-2 align-items-center">
          <div class="col-md-6"></div>
          <div class="col-md-6 text-right">
            <h3> aquilo lá e outra .</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam aperiam temporibus nostrum expedita enim itaque voluptatum porro facilis quia! Consectetur earum odit consequatur reprehenderit ab distinctio sint voluptates eveniet sapiente!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, possimus voluptates commodi, nostrum libero quis aspernatur, omnis deserunt fugit voluptatibus tempora dignissimos aliquam quidem animi explicabo voluptatem. Repellendus, veniam adipisci.
            </p>
          </div>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
          <img src="https://i.imgur.com/9o4yz6g.jpg" alt="segunda foto generica">
        </div>
      </div>
      <!-- !/grid -->

      <div class="row p-5 d-flex justify-content-center">
        <div class="col-md-8">
          <hr>
        </div>
      </div>

      <h3 class="text-center mt-3 mb-5">gostou da ideia? veja o que usuários do e-nsino tem a dizer:
      </h3>

      <!-- !----------------------cards------------------------>
      <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src="https://i.imgur.com/miYF4nn.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card que quebra em uma nova linha</h5>
            <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://i.imgur.com/miYF4nn.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
          </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer">
              <small>
                Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img" src="https://i.imgur.com/miYF4nn.jpg" alt="Imagem do card">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
          </div>
        </div>
      </div>
      <!-- !/cards -->

      <div class="row p-5 d-flex justify-content-center">
        <div class="col-md-8">
          <hr>
        </div>
      </div>

      <h3 class="text-center mt-3 mb-5">
      venha fazer parte da família e-nsino:
      </h3>

      <h4 class="text-center text-light"   ><a routerLink="/cadastro">Cadastre-se</a>
      </h4>

    </div>
  </div>

  <!-- !/landingPage -->

  <div class="row p-0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ff5500" fill-opacity="0.6" d="M0,64L48,101.3C96,139,192,213,288,218.7C384,224,480,160,576,149.3C672,139,768,181,864,186.7C960,192,1056,160,1152,128C1248,96,1344,64,1392,48L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
  </div>

</div>
